[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
mediapipe = "*"
wsq = "*"
pillow = "*"
fastapi = {extras = ["standard"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
motor = "*"
ray = {extras = ["default"], version = "*"}
redis = "*"
beanie = "*"
ydata-profiling = "*"
imutils = "*"
rich = "*"
pyod = "*"
urllib3 = "*"
pydantic = "*"
email-validator = "*"
pydantic-settings = "*"
librosa = "*"
torch = {version = "*", index = "downloadpytorch"}
webcolors = "*"
scikit-image = "*"
shapely = "*"
onnxruntime = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3"
