[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mediapipe = "*"
wsq = "*"
pillow = "*"
fastapi = {extras = ["standard"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
motor = "*"
ray = "*"
redis = "*"
beanie = "*"
ydata-profiling = "*"
imutils = "*"
rich = "*"
pyod = "*"
urllib3 = "*"
pydantic = "*"
email-validator = "*"
pydantic-settings = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3"
